{% extends 'base.html.twig' %}

{%block title%}
    {{ parent() }} | Add Campus
{% endblock %}

{% block body %}
    {% embed'views/form/default_form.html.twig' with {'form' : campusForm} %}
        {% block h2 %} Add a new campus {% endblock %}
        {% block button %}<button>add a new campus</button> {% endblock %}
    {% endembed %}
{% endblock %}
