{% extends 'base.html.twig' %}

{% block title %}Here are the events{% endblock %}

{% block body %}
    <h1>Here is your event list</h1>
    <section>
            <ul>
                {% for event in events %}
                        <li><a href="{{ path('event_detail', {'id': event.id}) }}"
                               title="View details about this wish"> {{ event.name }}</a></li>
                {% endfor %}
            </ul>
    </section>
{% endblock %}
