{% form_theme form 'views/theme/form_theme.html.twig' %}

<h2>{% block h2 %}{% endblock %}</h2>

{{ form_start(form) }}
{{ form_widget(form) }}
<button>{% block buttonLabel1 %}{% endblock %}</button>
<button>{% block buttonLabel2 %}{% endblock %}</button>
<button>{% block buttonLabel3 %}{% endblock %}</button>
{{ form_end(form) }}