{% extends 'base.html.twig' %}

{% block body %}
    {% embed'views/form/default_form.html.twig' with {'form' : cityForm} %}
        {% block h2 %} Update the city {% endblock %}
        {% block button %} <button>Update</button> {% endblock %}
    {% endembed %}
{% endblock %}

{% block title %}
    {{ parent() }} | Update
{% endblock %}

