<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('app_register') }}">Register</a></li>
        <li><a href="{{ path('add_city') }}">Add city</a></li>
        <li><a href="{{ path('add_campus') }}">Add campus</a></li>
    </ul>
</nav>